.image-qr {
 padding-left: 35px;
 padding-top: 15px;
}

.text {
  font-family: inter;
  font-weight: 300;
  color: #f2f2f2;
  padding-top: 30px;
}

.team {
  h3 {
    color: #f2f2f2;
  }
  padding-top: 20px;
  align-items: center;
  list-style: none;
}

.team-members {
  a {
    color: #bdbcbc;
    font-size: 15px;
  }
}
