// .search-form-control {
//   position: relative;
// }

// .search-form-control .btn {
//   position: absolute;
//   top: 8px;
//   bottom: 8px;
//   right: 8px;
// }

// .search-form-control .form-control {
//   height: 3.5rem;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
//   border: 1px solid #E7E7E7;
// }

// .search-form-control .form-control:focus {
//   border: 1px solid #1EDD88;
//   outline: none !important;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// }

// Communities Showpage Styling


.background-image-show {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-left: 45px;
  margin-top: 50px;
  border: 1px solid #f2f2f2;
  box-shadow: #E7E7E7;
  box-shadow: 2px 2px rgb(168, 168, 168);
}
// .banner-com {
//   background-size: cover;
//   background-position: center;
//   // padding: 150px 0;
//   height: 300px;
//   width: 300px;
//   border-radius: 50%;
//   margin-left: 45px;
//   margin-top: 20px;
//   border: 1px solid white;
//   box-shadow: #E7E7E7;
// }

// .post-banner-com {
//   background-size: cover;
//   background-position: center;
//   // padding: 150px 0;
//   height: 200px;
//   width: 100%;
// }

.card-trip .club-post-infos {
  padding: 10px;
  position: relative;
  color: #f2f2f2;

  .nick-name{
    font-size: 15px;
    color: #f2f2f2;
  }
}

.container-com {
  margin: 10px;
}

.club-info {
  // padding-right: 12px;
  .name-genre {
    display: flex;
    justify-content: space-between;
  //  margin-right: 8px;
  }

  h6 {
    color: #d4d4d2;
    display: inline;
    font-weight: bold;
    font-size: 13px;
    font-family: inter;
  }

 p.member {
    color: #d4d4d2;
    display: inline;
    font-size: 13px;
    font-weight: bold;
  }

  p {
    color: #d4d4d2;
    font-size: small;
    margin-bottom: .2rem;
    margin-top: .5rem;

  }
}

img {
  width: 1000px;
  height: 200px;
   display: block;
   object-fit: cover;
 }



//  .user {
//    display: flex;
//    gap: .5rem;
//    .user__image {
//      border-radius: 50%;
//     width: 50px;
//     height: 50px;
//    }
//  }


//  user avatar and name styling start
.user_info {
  font-family: inter;
  color: #f2f2f2;
  margin: 10px;

  .user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .name_post {
    color: rgb(191, 191, 191);
    margin: 0px;
    font-size: 15px;
  }


  .time_post{
    font-size: 13px;
    color: #f2f2f2;
  }
}
// /  user avatar and name styling end



.user_post {
  color: #f2f2f2;
  font-family: inter;
  font-size: 12px;
  font-weight: 200;
  margin: 10px;
}

.post_likes {
  color: #f2f2f2;
  font-size: 13px;
  i {
    font-size: 20px;
  }

}

.flex-like-edit{
  display: flex;
  justify-content: space-between;

}
// .btn {
//   color: pink;
// }

// .btn-primary {
//   background-color: #c51964;
//   margin-left: 10px;
//   margin-top: 10px;
//   height: 50px;
//   width: 150px;
//   font-family: inter;
//   font-size: 15px;
//   font-weight: 400px;
//   border-radius: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

i {
  font-size: 15px;
  background: none;
  color: #f2f2f2;

  .fa-solid fa-heart {
   color: #c51964;
  }
}


button {
  background: none;
  border: none;
}
// like heart styling end

.post-form {
  padding-left: 20px;
  font-family: inter;
  font-size: 15px;
  width: 95%;
  height: 30px;
  // margin: 10px;
}

.btn-post-form {
  display: flex;
}

.btn-primary {
  color: #df05bb;;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;
  text-decoration: underline;
}

.post-content {
  color: #f2f2f2;
  font-family: inter;
  font-size: 13px;
  font-weight: 300;
  // padding: 10px;
}

.post-like-edit {
  padding: 10px;
}
