.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

// Communities Showpage Styling

.banner-com {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  height: 350px;
  width: 100%;
}

.container-com {
  margin: 10px;
}
.club-info {
  padding-right: 12px;
  .name-genre {
    display: flex;
    justify-content: space-between;
   margin-right: 8px;
  }

  h6 {
    color: #E7E7E7;
    display: inline;
    font-weight: bold;
  }

 p.member {
    color: #E7E7E7;
    display: inline;
    font-size: 13px;
    font-weight: bold;
  }

  p {
    color: #E7E7E7;
    font-size: small;
    margin-bottom: .2rem;
    margin-top: .5rem;

  }
}




// .com-info h2 {
//   color: white;
//   font-family: inter;
//   font-weight: 500px;
//   font-size: 20px;
//   padding-top: 20px;
//   padding-left: 10px;
// }

// .com-info p {
//   font-family: inter;
//   font-size: 17px;
//   color: white;
//   display: block;
//   padding-left: 10px;
//   font-weight: 400px;
//   margin: 0;
// }

// .com-info h3 {
//   color: white;
//   font-size: 16px;
//   padding: 10px;
//   font-family: inter;
//   font-weight: 200;
// }

.btn {
  color: pink;
}

.btn-primary {
  background-color: #c51964;
  margin-left: 10px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  font-family: inter;
  font-size: 15px;
  font-weight: 400px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post h2 {
  color: white;
  font-family: inter;
  font-weight: 500px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.post ul {
  font-family: inter;
  font-size: 15px;
  color: rgb(81, 81, 81);
  display: block;
  padding-left: 10px;
  font-weight: 200px;
  list-style: none;
}

// .fa-heart {

// }

i {
  font-size: 15px;
  background: none;
  color: rgb(118, 117, 117);
}

button {
  background: none;
  border: none;
}

.form {
  color: white;
  padding-left: 10px;
  font-family: inter;
  font-size: 15px;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  // background: #7f7fd5;
  // background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}


.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
  width: 50px;
}

.user__info > small {
  color: #666;
}
