// .search-form-control {
//   position: relative;
// }

// .search-form-control .btn {
//   position: absolute;
//   top: 8px;
//   bottom: 8px;
//   right: 8px;
// }

// .search-form-control .form-control {
//   height: 3.5rem;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
//   border: 1px solid #E7E7E7;
// }

// .search-form-control .form-control:focus {
//   border: 1px solid #1EDD88;
//   outline: none !important;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// }

// Communities Showpage Styling


.background-image-show {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border: 1px solid #f2f2f2;
  box-shadow: #E7E7E7;
  box-shadow: 2px 2px rgb(168, 168, 168);
}
// .banner-com {
//   background-size: cover;
//   background-position: center;
//   // padding: 150px 0;
//   height: 300px;
//   width: 300px;
//   border-radius: 50%;
//   margin-left: 45px;
//   margin-top: 20px;
//   border: 1px solid white;
//   box-shadow: #E7E7E7;
// }

// .post-banner-com {
//   background-size: cover;
//   background-position: center;
//   // padding: 150px 0;
//   height: 200px;
//   width: 100%;
// }

.card-trip .club-post-infos {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  position: relative;
  color: #f2f2f2;
  display: flex;
  margin-top: 1em;

  .nick-name{
    font-size: 15px;
    color: #f2f2f2;
  }
}



// .container-com {
//   // margin: 10px;
// }

.club-info {
  margin-bottom: 40px;
  padding: 0px 15px;
  // padding-right: 12px;
  .name-genre {
    display: flex;
    justify-content: space-between;
  //  margin-right: 8px;
  }

  h5 {
    color: #d4d4d2;
    display: inline;
    font-weight: 500;
    font-size: 17px;
    font-family: inter;
  }

  .community-genre-link {
    color: #d4d4d2;
    display: inline;
    font-weight: 500;
    font-size: 17px;
    font-family: inter;
  }

  .members-toggler {
    width: 100%
  }

  #accordion-symbol {
    margin-right: 0.5em;
    opacity: 0.4
  }

  .caret-tranparent {
    display: none;
  }

 p.members {
    color: #a9a9a8;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
  }

  p {
    color: #939393;
    font-size: small;
    margin-bottom: .2rem;
    margin-top: .5rem;

  }
}

img {
  width: 100%;
  height: 250px;
   display: block;
   object-fit: cover;
 }



//  .user {
//    display: flex;
//    gap: .5rem;
//    .user__image {
//      border-radius: 50%;
//     width: 50px;
//     height: 50px;
//    }
//  }


//  user avatar and name styling start
.user_info {
  font-family: inter;
  color: #f2f2f2;
  margin: 10px;

  .user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .name_post {
    color: rgb(191, 191, 191);
    margin: 0px;
    font-size: 15px;
  }


  .time_post{
    font-size: 13px;
    color: #f2f2f2;
  }
}
// /  user avatar and name styling end



.user_post {
  color: #f2f2f2;
  font-family: inter;
  font-size: 12px;
  font-weight: 200;
  margin: 10px;
}

.post_likes {
  color: #f2f2f2;
  font-size: 13px;
  i {
    font-size: 20px;
  }

}

.flex-like-edit{
  display: flex;
  justify-content: space-between;

}
// .btn {
//   color: pink;
// }

// .btn-primary {
//   background-color: #c51964;
//   margin-left: 10px;
//   margin-top: 10px;
//   height: 50px;
//   width: 150px;
//   font-family: inter;
//   font-size: 15px;
//   font-weight: 400px;
//   border-radius: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

i {
  font-size: 15px;
  background: none;
  color: #f2f2f2;
}

.liked-heart {
  color: #c702a7
}




button {
  background: none;
  border: none;
}
// like heart styling end

.post-form {
  padding: 0px 10px;
  font-family: inter;
  font-size: 15px;
  width: 100%
}

.btn-post-form {
  display: flex;
}

.btn-primary {
  color: #f2f2f2;;
  background-color: #c702a7;
  border: none;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;
  text-decoration: none;
  border-radius: 8px;
  height: 45px;
}

.header-content {
  display: flex;
  align-items: center;

  a {
    margin-top: 0px;
  }
}

.btn-primary :hover {
  color: #c51964;
}

#post_content {
  color: #f2f2f2;
  font-family: inter;
  font-size: 13px;
  font-weight: 300;
  // padding: 10px;
  height: 70px;
  text-align: left;
  align-items: center;
}

.post-like {
  padding: 10px;
  align-items: center;
}

.likes-content {
  display: inline-flex;
}

.likes-number {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: #d4d4d2;
  align-items: center;
  margin-left: 0.2em;
  margin-top: 0.1em;
  display: flex;
}

#post_photo {
  color: #ced4da6b;
  font-size: 15px;
}

.fa-search {
  color: #2b2b2b6b;
}

hr {
  border: 0px;
  border-top: 1px solid #818080;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

// members_show styling

.container-mb {
  padding-top: 30px;
}
.mb-show {
padding-top: 20px;
text-align: center;
font-family: inter;
p {
  color: #818080;
}
.mb-name {
  font-size: 18px;
  color: #f2f2f2;
}
h2 {
  color: #f2f2f2;
}
h4 {
  color: #818080;
}
h5 {
  color: #818080;
}
.mb-nck-name {
  color: #818080;
  padding: 0;
}

}

.mb-com {
  h3 {
    color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    font-family: inter;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  width: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 120px;
  width: 102px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.btn-show {
  color: white;
  padding: 8px 10px;
  border-radius: 30px;
  background-color: #c702a7;
  transition: background 0.3s ease;
  font-size: 16px;
  font-family: inter;
  // text-transform: uppercase;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
  font-weight: 700;
  font-family: inter;
  margin-left: auto;
  margin-right: auto;
}

.btn-form {
  border: 1px solid black !important;
  color: white !important;
  background-color: #c702a7 !important;
  // font-weight: bold !important;
}
