// Specific CSS for your home-page

.wrapper {
  display: flex;
  justify-content: center;
}

.banner-home {
  background-size: contain;
  background-position: center;
  margin-top: 30px;
  // padding-left: 50px;
  background-image: asset-url('banner.png');
  width: 100%;
  // height: 100vh;

  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.feed-heading {
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.feed-desc {
  color: rgb(143, 143, 143);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-show-home {
  color: white;
  padding: 8px 10px;
  border-radius: 30px;
  background-color: #c702a7;
  transition: background 0.3s ease;
  position: absolute;
  font-size: 16px;
  font-family: inter;
  // text-transform: uppercase;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
  font-weight: 700;
  font-family: inter;
  margin-left: 30%;
}

.btn-flat {
  color: white;
  padding: 8px 10px;
  border-radius: 30px;
  background-color: #c702a7;
  transition: background 0.3s ease;
  position: absolute;
  font-size: 16px;
  font-family: inter;
  // text-transform: uppercase;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  font-weight: 700;
  font-family: inter;
}

.row p {
  margin: 0;
  color: rgb(170, 170, 170);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 15px;
  font-weight: 300;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}


// styling for newsfeed


.card-trip {
  overflow: hidden;
  background: #1b191f;
  color: white;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: #d4d4d2;
}


.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #d4d4d2;
}

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.card-user-avatar {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-image {
  height: 200px;
  width: 100%;
}

hr {
  border: 0px;
  border-top: 1px solid #818080;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.content {
  padding: 0px 10px;
  color: #d4d2d2;
}

.likes_count {
  color: #d4d2d2;
  padding: 10px 10px;
}

.hazy-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
