.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  height: 200px;
  width: 100%;
  position: absolute;
}

.name {
  text-align: center;
  padding: 10px;
  // margin-top: 200px;
  h1 {
    text-align: center;
    color: white;
    padding-top: 5px;
  }

  p {
    color: #959595;
    margin: 0 20px;
    font-size: small;

  }
}

.fa-pen-to-square {
  color: #959595;
}

a {
  color: #959595;
  font-style: inter;
  font-size: 13px;

}

.info {
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;

  p {
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 2px;
  }

  h5 {
    color: #959595;
    font-size: 16px;
    text-align: center;
  }
}

.toggle {
  border-radius: 16px;
  border: 1px solid #C702A7;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 10px;

  h2 {
    color: #f2f2f2;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2px;
  }
}
