<div class= "bottom-bar-spacer">

</div>

<div class= "bottom-bar">
  <%= link_to feeds_path do %>
   <i class="fa-solid fa-house"></i>Home
  <% end %>

  <%= link_to(communities_path(@community), class: request.env['PATH_INFO'].include?('communities') ? "active-link" : "")  do %>
    <i class="fa-solid fa-magnifying-glass"></i>Search
  <% end %>

  <%= link_to(myprofile_path(@profile), class: request.env['PATH_INFO'].include?('myprofile') ? "active-link" : "")  do %>
      <i class="fa-solid fa-user"></i>My Profile
  <% end %>

</div>

    <%# <p style="color:#e9eced"> %>
