<div class= "bottom-bar-spacer">

</div>

<div class= "bottom-bar">
  <%= link_to(home_path(@feed), class: request.env['PATH_INFO'].include?('home') ? "active-link" : "") do %>
   <i class="fa-solid fa-rss"></i>Feed
  <% end %>

  <%= link_to(communities_path(@community), class: request.env['PATH_INFO'].include?('communities') ? "active-link" : "")  do %>
    <i class="fa-solid fa-magnifying-glass"></i>Search
  <% end %>

  <%= link_to(myprofile_path(@profile), class: request.env['PATH_INFO'].include?('myprofile') ? "active-link" : "")  do %>
    <i class="fa-solid fa-user"></i>My Profile
  <% end %>

</div>

    <%# <p style="color:#e9eced"> %>
