<div class= "bottom-bar-spacer">

</div>

<div class= "bottom-bar">
  <%= link_to root_path(@root) do %>
  <p style="color:#e9eced">
    <i class="fa-solid fa-house"></i>Home
  </p>
<% end %>
  <p style="color:#e9eced">
    <i class="fa-solid fa-magnifying-glass"></i>Seach
  </p>
  <p style="color:#e9eced">
    <i class="fa-solid fa-rss"></i>Feed
  </p>
</div>
