<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="nav-item">
      <%= link_to "Sign out", destroy_user_session_path, class:"nav-link",  style:"float: right; color: #dfdfc9", data: {turbo_method: :delete} %>
    </a>
  </div>
</div>
