<div class="container text-center ">
<p class='text-light'>This is a collective endeavour <br> to help music lovers to connect with music's <br> communal roots and discovery function in 2020's media landscape</p>
<%= link_to image_tag('qr-code.png', alt:'QR-code', height: '400vh'), root_path, class: "img-responsive center-block" %>
<div class='text-light'>
<br>
<p>Team:</p>
<ol style = "list-style: none; padding-left: 0">
<li><a href="https://github.com/deborafachi">deborafachi</a></li>
<li><a href="https://github.com/AlexRMcKenzie">AlexRMcKenzie</a></li>
<li><a href="https://github.com/Rajul-N">Rajul-N</a></li>
<li><a href="https://github.com/gtsa">gtsa</a></li>
<li><a href="https://github.com/GabrielWilkinson">GabrielWilkinson</a></li>
</ol>
</div>
</div>
