
<div class="container text-center ">

  <p class="text">This is a collective endeavour to help music lovers to connect with music's communal roots and discover music in the 2020s' media landscape</p>
  <div class="image-qr">
  <%= link_to image_tag('qr-code1.png',  style: "width: 300px; height: 300px", alt:'QR-code'), root_path %>
  </div>

  <div class='team'>
    <h3>Team:</h3>
  </div>
    <div class="team-members">
      <p><a href="https://github.com/deborafachi">deborafachi</a></p>
      <p><a href="https://github.com/AlexRMcKenzie">AlexRMcKenzie</a></p>
      <p><a href="https://github.com/Rajul-N">Rajul-N</a></p>
      <p><a href="https://github.com/gtsa">gtsa</a></p>
      <p><a href="https://github.com/GabrielWilkinson">GabrielWilkinson</a></p>
    </div>
</div>
