
<div class="banner">
</div>

 <div class="container">
    <h1>BEATS CLUB</h1>
    <p>Building bonds around music</p>
    <div class="wrapper">
    <%= link_to "Create Profile", new_profile_path, class: "btn btn-flat" %>
      <%# <a class="btn btn-flat" href="#">Create Profile</a> %>
    </div>
</div>
