
<div class="banner-home mt-5" class="col-sm-6">
</div>
<div class="container">
  <div class="row">
    <h1 class="hazy-glow">BEATS CLUB</h1>
    <p>Building bonds around music</p>
    <div class="wrapper">
      <%= link_to "LET'S ROCK!", new_profile_path, class: "btn btn-flat" %>
      <%# <a class="btn btn-flat" href="#">Create Profile</a> %>
      <%# <div style= "color: white; position: absolute; margin-top: 100px;"> %>
        <%# <p>Already member?</p>
        <%= link_to "Log in to your profile", new_user_session_path, style:"font-size:16px; color: #c702a7"%>
      <%# </div> %>
    </div>
  </div>
</div>
