.new_profile {
  input, textarea {
    background-color: #1b191f;
    border: 1px solid white;
    border-radius: 30px;
    // margin-left: 5px;
    // margin-right: 5px;
  }
  label {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.form-control {
  width: 90%;
  background-color: #1b191f;
  color: #ced4da;
  border-radius: 10px;
  &:focus {
    background-color: #1b191f;
    color: white;
    border-color: #FF6D28 ;
  }
}

.form-select {
  width: 90%;
  border-radius: 10px;
}
// input:hover {
//   background-color: #86feb8;;
// }

.profile-form {
  margin-left: 16px;
}



h1.create-profile-title {
  color: #c702a7;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;;
}

.btn-form {
  border: 1px solid black !important;
  color: white !important;
  background-color: #c702a7 !important;
  // font-weight: bold !important;
}
