.new_profile {
  input, textarea {
    background-color: #1b191f;
    border: 1px solid #ced4da;
    border-radius: 10px;
    // margin-left: 5px;
    // margin-right: 5px;
  }

  label {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.round-btn{
  border-radius: 30px;
  margin-top: 10px;
}

.form-control {
  // width: 90%;
  background-color: #1b191f;
  color: #ced4da;
  border-radius: 10px;
  &:focus {
    background-color: #1b191f;
    color: #ced4da;
  }
}

.form-select {
  // width: 90%;
  border-radius: 10px;
  background-color: #1b191f;
  color: #ced4da6b;
}
// input:hover {
//   background-color: #86feb8;;
// }

.profile-form {
  // margin-left: 16px;
  // border-radius: 10px;
}

#profile_photo {
  color: #ced4da6b;
}


.create-profile-title {
  color: #c702a7;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#new_profile {
  padding: 0 5%;
}

.btn-form {
  border: 1px solid black !important;
  color: white !important;
  background-color: #c702a7 !important;
  // font-weight: bold !important;
}

#new_community {
  padding: 0 5%;
}

#community_photo {
  color: #ced4da6b;
}

.profile_forms {
  .form-inputs {
    padding-right: 50px;
  }

}
