#loader {
    border: 8px solid #ff00d6;
    border-radius: 50%;
    border-top: 12px solid #1b191f;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center-spin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.page-loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #1b191f;
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  z-index: -1;
  }
