.c {

  &:hover {
    .popup {
      color: white;
    }
    .popup .items {
      display: block;
    }
  }
}

.popup {
  position: relative;
  width: 100%;
  line-height: 0.8
}

.popup .items {
  position: absolute;
  background: #1b191f;
  color: white;
  display: none;
  width: 100%;
}

.nav-link-extra {
  float: right;
  background-color: #1b191f;
  color: #dfdfc9;
  white-space: nowrap;
  border-bottom: 2px solid #222126;
  text-align: right;
  right: 3px;
  white-space: nowrap;
  }

.nav-link-extra:hover {
  color: #dfdfc9;
  background-color: #222126;
}
