.navbar-lewagon {
  justify-content: space-between;
  background: #1b191f;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.popup {
  position: relative;
  width: 100%;
  line-height: 0.8
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-link-extra {
  float: right;
  background-color: #c702a7;
  color: #dfdfc9;
  white-space: nowrap;
  border-bottom: 2px solid #222126;
  text-align: right;
  right: 3px;
  white-space: nowrap;
  }

#btn-login {
  color: darkgrey;
}

.dropdown-item {
  color: gray;
}

.logo-image {
  width: 40px;
  height: 40px;
}


@media screen and (min-width: 575px) {
  .hidden-when-wide-screen {
    display: none;
  }
}
