<%# <ol> %>
<%# <% @communities.each do |community|%>
 <%# <li> <%= community.name %>
 <%# </li> %>
 <%# <% end %>
<%# </ol> %>
<%# <%=  %>
<%# <%=  %>ˀ
<%# <%=  %>
<h1>Hello World!</h1>


<div class="cards">
    <%#= current_user.profiles[0].communities.count %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/6b/60/77/6b6077a2ea52b535d2939c3946d84f71.jpg)">
      Jazz
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/96/06/ac/9606ac81c58018ab0e076623897471fa.jpg)">
      MPB
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/96/ee/f8/96eef867344f697815074cda268c84a2.jpg)">
      Pop
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/06/0e/d7/060ed7a9d671aaa45945894359995c83.jpg)">
      Rock
    </div>

  </div>
</div>
